<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lyc.springboot.demo.mapper.LbsMapper">

    <insert id="insertLbsInfo" parameterType="com.example.lyc.springboot.demo.entity.LbsInfo">
        INSERT INTO user_location (user_id, latitude, longitude, address)
        VALUES (#{userId}, #{latitude}, #{longitude}, #{address})
    </insert>

</mapper>