<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lyc.springboot.demo.mapper.UserMapper">
<!--    使用了 resultType="User"，这告诉 MyBatis 结果应该映射到 'User' 类，注意：这边类路径写死 或在mybatis-config配置-->
    <select id="findUserById" parameterType="int" resultType="com.example.lyc.springboot.demo.entity.User">
        SELECT * FROM User WHERE id = #{id}
    </select>
    <select id="findAllUsers" resultType="com.example.lyc.springboot.demo.entity.User">
        SELECT * FROM User
    </select>
    <insert id="insertUser" parameterType="com.example.lyc.springboot.demo.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO User (userName, password) VALUES (#{userName}, #{password})
    </insert>
    <update id="updateUser" parameterType="com.example.lyc.springboot.demo.entity.User">
        UPDATE User SET username = #{userName}, password = #{password} WHERE id = #{id}
        <selectKey resultType="int" order="AFTER" keyProperty="updates">
            SELECT ROW_COUNT()
        </selectKey>
    </update>
<!--    <update id="updateUser" parameterType="com.example.lyc.springboot.demo.entity.User">-->
<!--        UPDATE User SET username = #{userName}, password = #{password} WHERE id = #{id}-->
<!--    </update>-->


    <delete id="deleteUser" parameterType="int">
        DELETE FROM User WHERE id = #{id}
    </delete>

    <!-- 其他SQL语句... -->
</mapper>